<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %> Has Messaged</h1>
    <p> Details:</p>
    <p> name : <%= @contact.name %> </p>
    <p> email: <%= @contact.email %></p>
    <p> message: <%= @contact.message %> </p>
   



  </body>
</html>
