<!DOCTYPE html>
<html>
  <head>
    <meta content=3D'text/html; charset=3DUTF-8' http-equiv=3D'Content-Type' />
  </head>
  <body>
    <h1>Welcome ! <%= @user.name%></h1>
   <p> You have registered successfully for the workshop on <strong> <%= @user.dept_name%></strong>.Please make your presence.
   </p>
<p>Thanks & Regards</p>
<p>Quanta ’15 Team.</p>
<p>For further queries mail us to <a href="workshop@quanta.net.in">workshop@quanta.net.in</a></p>

  



  </body>
</html>
