
Welcome ! <%= @user.name%>
===============================================
 
 You have registered successfully for the workshop on <%= @user.workshop%>.Please make your presence.

Thanks & Regards
Quanta team.
For further queries mail us to <a href="workshop@quanta.net.in">workshop@quanta.net.in</a>