
Welcome ! <%= @user.name%>
===============================================
 
 You have been successfully registered for one day workshop and live demo on ‘INDUSTRIAL WELDING PROCESS’ in KRYSTA’14  on 27-9-14 
   
Thanks & Regards
Krysta team.
For further queries mail us to <a href="workshop@quanta.net.in">workshop@quanta.net.in</a>