<!DOCTYPE html>
<html>
  <head>
    <meta content=3D'text/html; charset=3DUTF-8' http-equiv=3D'Content-Type' />
  </head>
  <body>
    <h1>Welcome ! <%= @user.name%></h1>
   <p> You have been successfully registered for one day workshop and live demo on ‘INDUSTRIAL WELDING PROCESS’ in KRYSTA’14  on 27-9-14 
   </p>
<p>Thanks & Regards</p>
<p>Krysta team.</p>
<p>For further queries mail us to <a href="workshop@quanta.net.in">workshop@quanta.net.in</a></p>



  </body>
</html>
