<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Quanta'15</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/five.css" rel="stylesheet">


<link href="/css/prettyPhoto.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">


<!-- Custom Fonts -->
<link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,600italic' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container"> 
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		</div>
		<div class="row">
			<div class="col-md-1 col-sm-6 portfolio-item">
				<a href="#page-top"><img src="/img/qlogo.png" width="50" height="50"></a> 
			</div>
			<div class="col-md-2 col-sm-6 portfolio-item">
				<span class="navbar-header page-scroll"><a  align="left" class="navbar-brand page-scroll" href="#page-top">Quanta</a></span>
			</div>
			<div class="col-md-1 col-sm-6 portfolio-item">
				<a href="#page-top"><img src="/img/CEG_main_logo.png" width="50" height="50"></a> 
			</div>


			<div class="col-md-8 col-sm-6 portfolio-item">    
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" style="color: #ffd700;">
						<li class="hidden"> <a href="#page-top"></a> </li>
						<li>  </li>
						<li> <a class="page-scroll" href="#events">Events</a> </li>
						<li> <a class="page-scroll" href="#gallery">Gallery</a> </li>
						<li> <a class="page-scroll" href="#workshop">Workshop</a> </li>
						<li> <a class="page-scroll" href="#about">About</a> </li>
						<li> <a class="page-scroll" href="#sponsors">Sponsors</a> </li>
						<li> <a class="page-scroll" href="#contact">Contact</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.navbar-collapse --> 
	</div>
	<!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header>

	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
		<!-- Overlay -->

		<div class="overlay">


			<!-- Indicators -->

			<!-- Wrapper for slides -->
			<div class="carousel-inner">


				<div class="item slides active">


					<div class="slide-1"></div>

					<div class="hero">
						<hgroup>
						<div class="center">
							<% if notice %>

								<div class="alert alert-success">
								<a href="#" class="close" data-dismiss="alert">&times;</a>

								<strong> <%= notice%></strong>
							</div> 
						<% end %>
							<%if alert %>
								<div class="alert alert-danger">    
								<a href="#" class="close" data-dismiss="alert">&times;</a>    
								<strong> <%= alert%></strong>
							</div>
						<%end%>    
						</div>


						<h3 style="font-size:50px; color:#003366;"><img src="/img/3c.png" width="150" height="150">SMSE Presents</h3>        
						<h1 style="color:#dfd2d2;">QUANTA ’15</h1>
						<br><br>
						<h2 style="font-size:30px;">MINIATURIZING OMNIPOTENCE</h2>    
						<h3>March 11-14</h3>

						</hgroup>
						<br>
						<a target="_blank" href="/talaash" class="btn btn-success"> Click here to play Talaash'15 </a>
					</div>





				</div>



			</div> 
		</div>
	</div>



</header>

<!-- Services Section -->
<section id="events">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Events</h2>
				<div class="line"></div>
			</div>
		</div>
		<div class="row text-center services">


			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal1" class="portfolio-link" data-toggle="modal">
						<img src="/img/events/GQ.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h4 style="color:#000;">General Quiz</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal2" class="portfolio-link" data-toggle="modal">
						<img src="/img/events/Connections.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h4 style="color:#000;">ENGINEERING CONNECTIONS</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal3" class="portfolio-link" data-toggle="modal">

						<img src="/img/events/Megatronite.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">
							<h4 style="color:#000;">MEGATRONITE</h4></a>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal4" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/nutandbolt.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">NUT AND BOLT</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal5" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/pixel perfect.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">PIXEL PERFECT</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal6" class="portfolio-link" data-toggle="modal"> 
						<br><br>
						<img src="/img/events/inquisition.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">INQUISITION</h4></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal7" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/Paper Presentation.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">PAPER PRESENTATION</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal8" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/quanta premier league.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">QUANTA PREMIER LEAGUE</h4> </a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal9" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/HephaestusOracle.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">HEPHAESTUS ORACLE</h4> </a>
					</div>
					<br><br>
				</div>


			
				
				<div class="row">
					<div class="col-lg-12 text-center">

						<h2 class="section-heading">Online Events</h2>
						<div class="line"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal10" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/talaash.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">TALAASH</h4></a>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 portfolio-item"> <a href="#eventModal11" class="portfolio-link" data-toggle="modal">
						<br><br>
						<img src="/img/events/cliq.jpg" class="img-responsive" alt="">
						<div class="portfolio-caption">

							<h4 style="color:#000;">CLIQ</h4></a>
					</div>
				</div>

			</div>


		</div>
	</div>
</div>
</section>

<!-- Portfolio Grid Section -->
<section id="gallery" class="bg-light-gray">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Gallery</h2>
			<div class="line"></div>

			<ul class="portfolio-filter">
				<li><a class="btn btn-button btn-danger active" href="#" data-filter="*">All</a></li>
				<li><a class="btn btn-button btn-danger" href="#" data-filter=".inaug">Inauguration</a></li>
				<li><a class="btn btn-button btn-danger" href="#" data-filter=".k14">krysta'14</a></li>
			</ul><!--/#portfolio-filter-->
			<ul class="portfolio-items col-4">




				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/1.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/1.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->


				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/2.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/2.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/3.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/3.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/5.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/5.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/6.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/6.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/7.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/7.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/8.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/8.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/9.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/9.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/10.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/10.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/11.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/11.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/12.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/12.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/gallery/13.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/gallery/13.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->

			</ul>



		</div>
	</div>

</div>
</section>


<section id="workshop">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Workshop </h2>
			<div class="line"></div>
		</div>
	</div>
	<div class="row">

		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li></li>
				<li role="presentation" class="active" ><a href="#ms" aria-controls="ms" role="tab" data-toggle="tab" 	style="color:#000;">Modeling and simulation</a></li>
				<li role="presentation"><a href="#mdr" aria-controls="mdr" role="tab" data-toggle="tab" style="color:#000;">Materials in defense research</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="ms">
					<br>
					<div class="row">
						<div class="col-md-5">

							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="/img/gallery/17.jpg" width="100%" height="100%">

									</div>
									<div class="item">
										<img src="/img/gallery/18.jpg" width="100%" height="100%">
									</div>
									<div class="item">
										<img src="/img/gallery/19.jpg" width="100%" height="100%">
									</div>
									<div class="item">
										<img src="/img/gallery/20.jpg" width="100%" height="100%">
									</div>
								</div>

								<!-- Controls -->

							</div>


						</div>
						<div class="col-md-6">
							<p style="font-size:18px;" align="justify">

							<i style="font-size:22px;">“Keep learning to keep winning! If you stop learning, you stop creating history and become history” </i>.
							<br>
							<br> Ever wondered what Modeling and simulation in industry is all about?  Are you the one excited to know the technique that helps industries to bring out ever-improving products? Then this is the platform for you! Learn what modeling and simulation is all about and take one big leap towards professionalism and the industry!</div>

						</p>
					</div>
				</div>



				<div role="tabpanel" class="tab-pane" id="mdr">
					<br>
					<div class="row">
						<div class="col-md-5">

							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="/img/gallery/14.jpg" width="100%" height="100%">

									</div>
									<div class="item">
										<img src="/img/gallery/15.jpg" width="100%" height="100%">

									</div>
									<div class="item">
										<img src="/img/gallery/16.jpg" width="100%" height="100%">

									</div>


								</div>

								<!-- Controls -->

							</div>

						</div>
						<div class="col-md-7">
							<p style="font-size:18px;" align="justify">
							To save the country from the external invasion and from the internal disturbances awell maintained defense system is indispensable. Big Powers are stored with atomic weapons; however, the nightmare of a long-drawn war of attrition has given place to fear of a war of annihilation. This frightening possibility should act as a salutary check on war-mindedness in this world. For this reason it does not seem wise or expedient for underdeveloped countries to spend crores of rupees for national defense preparedness and thereby deprive the common people of necessary financial help. So it becomes increasingly important to make expenditure for Defense within its limits to meet the security needs. As the saying goes “Necessity is the mother of invention” our necessity is to provide security at an
							</p>
						</div>
						<p style="font-size:18px;" align="justify"> affordable limit lead to the advent of Advance Materials in Defense. India has a large pool of technology related talents, and defense research organizations are doing their part to bring out the best in the Indian Armed Forces, by either collaborating with foreign companies or developing technology and designs indigenously. Ever wondered the various metallurgical advancements in defense research, come quanta 15’ and hear it out from eminent person from various institutions and organization.</p>
					</div>
				</div>
			</div>

		</div>

	</div>



</div>
</section>


<section id="workshop1" class="bg-light-gray">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Registration</h2>
			<div class="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 portfolio-item">
			<p align="center"><strong style="font-size:20px;" >MATERIAL MODELING AND SIMULATION</strong><br><br>

			<strong>Registration Fee:</strong> Rs 400 (For Other Colleges) <br>

			Rs.200 (For CEG, MIT, ACT campus)  <br>
			<br><br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 portfolio-item"> 

			<p align="center"><strong style="font-size:20px;">MATERIALS IN DEFENCE RESEARCH</strong><br><br>

			<strong>Registration Fee:</strong> Rs 600 (For Other Colleges)<br>

			Rs.300 (For CEG, MIT, ACT campus)</p>
			<br><br>
		</div>
	</div>
	<p align="center" style="font-size:17px;">Register and attend both workshops with a Registration Fee of Rs.800 (For Other colleges) and Rs.400 (For Ceg, MIT, ACT campus)</p>
	<br>
	<p align="center" style="font-size:15px;">Registration fees can be paid On spot of workshop date with cash or dd.</p>
	<p align="center">(or)</p> 
	<p align="center" style="font-size:15px;">You can send your dd in favour of <strong>“Society of Material Science Engineers, University, Chennai-25” </strong> to <br> <strong>“Central Workshop, Department of mechanical Engineering, Anna university, Chennai-25".</strong> </p>
	<br><br>


	<!-- <div class="row" align="center">
			   <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
	Click here to Register
	</button>
	</div> -->
	<br><br>


	<p align="center" style="font-size:20px;"><strong>Register Soon….!!!!!!!!!</strong></p>
	<div class="row" align="center">
		<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
			Click here to Register
		</button>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<%= render '/users/new'%> 
				</div>
				<div class="modal-footer">
					<button type="button" style="align:left;" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>
</section>

<!-- About Section -->
<section id="about">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">About</h2>
			<div class="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="/img/1.jpg" alt="">
		</div>
		<div class="col-md-6">
			<p style="font-size:22px;" align="justify">THE SOCIETY OF MATERIALS SCIENCE ENGINEERS UNDER THE GUIDANCE OF DEPARTMENT OF MECHANICAL ENGINEERING, CEG, ANNA UNIVERSITY, BRINGS YOU THE MOST SAVVY SYMPOSIUM EVER.... QUANTA’15.. AN ADORABLE ALLOY OF BRAIN-RACKING AND SENSE-PLEASING EVENTS AND AN INTER COLLEGIATE WORKSHOP ON ‘MATERIALS IN DEFENCE RESEARCH’ AND ‘MATERIAL MODELING AND SIMULATION’… COME...KNOW YOURSELF...RECREATE YOUR SELF</p>
			<br>
		</div>
		<p style="font-size:18px;" align="justify">Quanta events are over the years have received accolades and thundering applausefrom the participants and guests with nail biting climax and photo finish score lines. We take pride in inviting you to this coveted Quanta events to hone your innovative skills and to have an awe inspiring experience. Cant wait rgt!!!! One day work on “Materials in Defense Research” which will illuminate your obscurities hovering over the recent advances in Defense Materials. You will be acquainted about the use of advanced materials that has ameliorated the security provided to the gallant fighters across borders and how it has helped Defense organizations reach their pinnacle from nadir.A half day work shop on “Material Modeling and Stimulation” that would help you to learn and crack hoaxes wafting over this subject. These workshops will be conducted in the presence of articulate speakers from esteemed and reputed institutions.</p>

	</div>
</div>
</section>

<!-- Team Section -->
<section id="sponsors" class="bg-light-gray">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Previous Sponsors</h2>
			<div class="line"></div>



			<ul class="portfolio-items col-4">




				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item3.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/sponsor/item3.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->


				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/classmate.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="" href="/img/sponsor/classmate.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item1.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="SHRIRAM ENTERPRISES PVT. LTD." href="/img/sponsor/item1.jpg"><img src="/img/eye.png" width="20" height="20"></a>             
						</div>  
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item2.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="AMBATTUR HEAT TREATERS PRIVATE LTD." href="/img/sponsor/item2.jpg"><img src="/img/eye.png" width="20" height="20"></a>  
						</div>  
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item6.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="DTDC" href="/img/sponsor/item6.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item10.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="ASWIN COLD FORGE" href="/img/sponsor/item10.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>    
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item9.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="INDIAN BANK" href="/img/sponsor/item9.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>    
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress inaug">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item4.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="COOKIE MAN" href="/img/sponsor/item4.jpg"><img src="/img/eye.png" width="20" height="20"></a>          
						</div> 
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item14.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="YENTOP " href="/img/sponsor/item14.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item11.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="E –XSTREAM" href="/img/sponsor/item11.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div> 
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item5.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="CADEM" href="/img/sponsor/item5.jpg"><img src="/img/eye.png" width="20" height="20"></a>          
						</div>    
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress k14">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item8.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="GORGEOUS SPA" href="/img/sponsor/item8.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress ws">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item7.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="GEE GEE KAY" href="/img/sponsor/item7.jpg"><img src="/img/eye.png" width="20" height="20"></a>          
						</div>  
					</div>
				</div>         
				</li><!--/.portfolio-item-->

				<li class="portfolio-item wordpress ws">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item12.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="SP ROBOTICS WORKS" href="/img/sponsor/item12.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>   
					</div>
				</div>         
				</li><!--/.portfolio-item-->
				<li class="portfolio-item wordpress ws">
				<div class="item-inner">
					<div class="portfolio-image">
						<img src="/img/sponsor/item13.jpg" alt="">
						<div class="overlay">
							<a class="preview btn btn-link" title="SRI VIDYA COLLEGE OF ENGINEERING & TECHNOLOGY" href="/img/sponsor/item13.jpg"><img src="/img/eye.png" width="20" height="20"></a>           
						</div>    
					</div>
				</div>         
				</li><!--/.portfolio-item-->

			</ul>



		</div>
	</div>

</div>
</section>

<!-- Team Section -->
<section id="contact">

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Team</h2>
			<div class="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="team-member"> <img src="/img/team/3.png" class="img-responsive img-circle" alt="">
				<h4>Premkumar</h4>
				<p class="text-muted">General Secretary, SMSE</p>
				<ul class="list-inline social-buttons">
					<li>Contact: 9487682729</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member"> <img src="/img/team/1.png" class="img-responsive img-circle" alt="">
				<h4>Gokul ram</h4>
				<p class="text-muted">Events Coordinator</p>
				<ul class="list-inline social-buttons">
					<li>Contact: 9790748790</li>
					<li>events@quanta.net.in</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member"> <img src="/img/team/2.png" class="img-responsive img-circle" alt="">
				<h4>Lalith Kumar</h4>
				<p class="text-muted">Workshop Coordinator</p>
				<ul class="list-inline social-buttons">
					<li>Contact: 9629161134 </li>
					<li>workshop@quanta.net.in </li>
				</ul>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="team-member"> <img src="/img/team/4.png" class="img-responsive img-circle" alt="">
				<h4>Rajeshwara Rao</h4>
				<p class="text-muted">Industrial Affairs Secretary, SMSE</p>
				<ul class="list-inline social-buttons">
					<li>Contact: 9841404075</li>
					<li>admin@quanta.net.in</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<p  style="color:#f20000 ; font-size:20px;" class="large text-muted">"One spirit, one team, one win! "</p>
		</div>
	</div>
</div>
<br><br>
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Contact</h2>
			<div class="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h5><i class="fa fa-map-marker"></i> Address</h5>
			<p>Central Workshop, Department of Mechanical Engineering, CEG , Anna University, Chennai – 25.</p>
		</div>
		<div class="col-md-4">

		</div>

	</div>
	<br>

	<%= render '/contacts/new'%>
</div>
</section>


<footer>
<div class="container">
	<div class="row">
		<div class="col-md-8"> <span class="copyright">&copy; 2015 Quanta. All Rights Reserved.</span> </div>
		<div class="col-md-4">
			<ul class="list-inline social-buttons">
				<li ><a target="_blank" href="https://www.facebook.com/cegquanta"><i class="fa fa-facebook"></i></a> </li>
			</ul>
		</div>
	</div>
</div>
</footer>

<!-- Portfolio Modals --> 
<!-- Use the modals below to showcase details about your portfolio s! --> 

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="eventModal1" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->



					<h2>GENERAL QUIZ</h2>

					<p align="left"><strong>DESCRIPTION : </strong> <br> The quiz will be a test on your knowledge on everything hovering around you. From science to sports, music to literature and entertainment to events that are trending around the globe.</p>

					<p align="left"><strong>Rules : </strong> <br> 1. The quiz will have 2 rounds.<br>
					2. 2-3 participants per team.<br>
					3. Elimination will be present after round 1.</p>
					<ul class="list-inline">
						<strong>CONTACT:</strong>
						<li>Raja: 9629314522</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="portfolio-modal modal fade" id="eventModal2" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>ENGINEERING CONNECTIONS</h2>

					<p align="left"><strong>DESCRIPTION:</strong> Engineering Connections is a fun filled technical event. It consists of three rounds with eliminations in each round. The game is a piece of cake if you are good in basic physics. </p>

					<p align="left"><strong>Rules</strong> <br> 1. The event has two rounds.<br>
					2. 2-3 participants per team.<br>
					3. The decision of the organizers is final and binding. <br>
					<strong>Round 1:</strong> Connections
					<br>Connecting the pictures displayed on the screen to find the technical term.<br>
					<strong>Round 2:</strong> Dumbcharades
					<br>Word guessing game. One player acts out the word without miming and the other has to find it.
					</p>
					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Arivoli.M 9710178128</li>
						<li>Arungopal.K.P. 9789924647</li>
						<li>Mohammed Burhanuddeen 9176439878</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="portfolio-modal modal fade" id="eventModal3" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>MEGATRONITE</h2>

					<p align="left"><strong>DESCRIPTION:</strong> Be ready to exercise the grey matter!  An all in one event that includes Anagrams , Rebus, 4 pics one word, word search with riddles & grandmaster. The event may also contain an element of surprise that will blow your minds off. </p>

					<p align="left"><strong>Rules</strong> <br> 1. 2-3 participants per team.<br>
					2. Bring Pencil/pen.<br>
					3. The event will consist of 2 rounds in which all participants must be present. <br>
					<p align="left">			<strong>Round 1:</strong> Prelims
					<br>Time Duration : <strong>40 mins.</strong><br>
					Written event that will consist of crossword, Jumbled word puzzle, Rebus & guess what puzzles.<br>
					<strong>Round 2:</strong> Finals
					<br>The top few teams will be selected for the finals.
					One team member will be told a word while the team mates are allowed to guess the word. The one who knows the word is allowed to only give yes or no answers while the other members can ask any 21 questions. An element of surprise will be revealed on the day of the event.
					A theme will be given for the same on the day of the event.</p>
					</p>


					<p align="left">
					<strong>Questions asked:</strong><br>
					1. Is too much knowledge required for this game?  
					Not at all. All answers will be simple, general. Just think out of the box and connect the odds.<br>
					2. Why participate?
					Let’s use the grey matter for some fun right?<br>
					3. What is Rebus?
					Its a word game based on puzzles.<br>
					</p>
					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Agraja : 9884544356</li>
						<li>Madhubala: 8754569715</li>
						<li>Swetha:8903677432</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



<div class="portfolio-modal modal fade" id="eventModal4" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>NUT AND BOLT</h2>

					<p align="left"><strong>DESCRIPTION:</strong> Are you a person who believes in practical approach than the theoretical one? Are you crazy about how stuff works? Are you a person with good reflexes?? Come on guys! make your way to the event "NUT AND BOLT" .THIS EVENT IS ALL YOURS!!!!!!</p>

					<p align="left"><strong>Rules</strong> <br> 1. Only two/three members per team.<br>
					2. Bring pen/pencil.<br>
					<p align="left">
					<strong>Round 1:</strong> CRACK IT
					<br>This round is all about triggering your left brain .This round consists of aptitude, logical questions and some basics of engineering.<br>
					<strong>Round 2:</strong> 
					<br>In this round, you will be provided with numerous dismantled parts from which you will have to assemble as many objects as you can. (Everything will be provide and no tools required).</p>
					</p>
					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>B.Priyadarshini - 7502185052</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="portfolio-modal modal fade" id="eventModal6" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>INQUISITION</h2>

					<p align="left"><strong>DESCRIPTION:</strong> <i>Wit beyond measure is a man's greatest treasure.”  </i><br>
					Inquisition or Material Treasure Hunt is wit-based where a team will be given a clue which will lead them to a series of clues. Use your knowledge on materials and sciences to crack the given clues and win this event. You need these four elements to win this event. </p>

					<p style="color:#448aff;">#Knowledge #Critical thinking #Sportive mind #Team work</p>

					<p align="left"><strong>Rules</strong> <br> 1. A team can consist of a minimum of 3 members to a maximum of 5 members.<br>
					2. The decision of the organizers will be final and binding.<br>
					3. The team must adhere to the spirit of a healthy competition. Any malpractice if found will lead to elimination. <br>

					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Monish Chakravarty R : 9487755515</li>
						<li>Darvin M S : 9751362867</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="portfolio-modal modal fade" id="eventModal5" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>PIXEL PERFECT</h2>

					<p align="left"><strong>DESCRIPTION:</strong> When you have the right eye for it (and the right lens!) our campus can be one of the most picturesque locations that can be a visual treat to anyone’s eyes. What we ask of you is simply to bring out those simple pieces of beauty or even an image of wonder (might even be of a monkey coming to grab your lunch!).
					</p>

					<p align="left"><strong>Rules</strong> <br> 
					1. Photos must be taken inside the campus only.<br>
					2. They must be mailed to the organizers within the stipulated time.<br>
					3. Mail id will be mentioned during the registration for the event.<br>
					4. Judges decision is final and binding<br>


					<ul class="list-inline">
						<strong>CONTACT: </strong> <br>
						<li> Denijoe : 7598001602 </li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="portfolio-modal modal fade" id="eventModal7" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>PAPER PRESENTATION</h2>

					<p align="left"><strong>DESCRIPTION:</strong> Paper Presentation is an event that brings out the scientist in you. This provides you an opportunity to showcase your ideas and prove your capabilities unveiling your creativity. After all, an idea not shared is just an empty void. </p>
					<br>
					<p align="left"><strong>TOPICS:</strong><br>
					1. Advances in Material Science for Energy Applications.<br>
					2. Novel applications of Nanotechnology.<br>
					3. Engineered materials and manufacturing.<br>
					4. Recent Trends in Quality Management.<br>
					5. Advances in Cutting Tool Technology.<br>
					6. Practical Welding Technology.<br>
					7. Tribology (friction, wear and lubrication) of materials.<br>
					</p>
					<p align="left"><strong>Rules</strong> <br> 
					1. Participants can participate in teams of two.<br>
					2. Abstract must be submitted on or before MARCH 10<sup>th</sup>.<br>
					3. Selected Papers will be intimated and full papers should be submitted on 11<sup>th</sup> of March.<br>
					4. The presentation should be in .ppt or .pptx format.<br>
					5. Teams will have to deliver their presentation for 10 minutes followed by 5 minutes Q/A session.<br>
					6. He organizers reserve the right to change/update the rules of the contest at any point of time and will do their best to notify the participants. However, it is ultimately the responsibility of the teams to keep themselves updated.<br>
					7. Judges' decision is final.<br>
					<br><br>
					Send your abstract to <strong>paperpresentation@quanta.net.in</strong> on or before March 10<sup>th</sup>.
					<br>

					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Archana – 9940428399</li>
						<li>S. Jaishree - 9884219104</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="portfolio-modal modal fade" id="eventModal8" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>QUANTA PREMIER LEAGUE</h2>

					<p align="left"><strong>DESCRIPTION:</strong>Have you ever thought of building your own IPL team? Even thought to learn strategizing and Entrepreneurship at the same in a full filled cricket event? How many of you wanted to play Dhoni with Steyn, Pollard with Kohli, but lacked few billions? Well, then don't forget to take part in IPL auction’15 to be conducted in QUANTA. Its not just a cricket game. Its totally a money game.</p>

					<p align="left"><strong>Rules</strong> <br> 
					1. Each team should have max 3 participants.<br>
					2. Participants can be from the same college or from different colleges.<br>
					3. Decisions of organisers will be final.<br>
					4. Auction rules will be explained prior to the commencement of the final round.<br>


					<p align="left">
					<strong>Round 1:</strong>
					<br>1. Teams will be asked to attend the preliminary round in which questions will be asked related to Cricket.<br>
					2. Top 8 teams will be selected for the next round<br>
					<strong>Round 2:</strong> 
					<br>
					1. Each team will be allotted an IPL team at random.<br>
					2. You have to buy players in the auction to build a complete team. Each player has a certain number of points based on their value. <br>
					3. The aim is to collect maximum points in order to win!</p><br>
					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Chandramohan - 7299513307</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="portfolio-modal modal fade" id="eventModal9" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>HEPHAESTUS ORACLE</h2>

					<p align="left"><strong>DESCRIPTION:</strong> The quiz will be a test to your knowledge on topics related to Materials Sciences, recent advances in new materials and about the unexplored topics in metallurgy. This provides you an platform to showcase your skill in our field.</p>

					<p align="left"><strong>Rules : </strong> <br> 1. The quiz will have 2 rounds.<br>
					2. 2-3 participants per team.<br>
					3. Elimination will be present after round 1.</p>


					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Abhilaash - 7845425085</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="portfolio-modal modal fade" id="eventModal10" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>TALAASH</h2>

					<p align="left"><strong>DESCRIPTION:</strong> Talaash is an individual online event. You should possess a computing device with a fair internet connection to join the hunt.</p>

					<p align="left"><strong>Rules : </strong> <br> 1. The event consists of a series of levels with visuals and texts which are riddles and you should solve them to advance.<br>
					2. This is a non-technical event and there is absolutely no preparation or previous experience needed.<br>
					3. The main hunt will start in the last week of February 2015.</p>


					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Parthiban – 9840482406</li>
						<li>Gokul Ram – 9790748490</li>
					</ul>
					<p align="center" style="font-size:15px;"> <strong>Coming Soon !!!</strong></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="portfolio-modal modal fade" id="eventModal11" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-content">
	<div class="close-modal" data-dismiss="modal">
		<div class="lr">
			<div class="rl"> </div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="modal-body"> 
					<!--  Details Go Here -->


					<h2>CLIQ</h2>

					<p align="left"><strong>DESCRIPTION:</strong>Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever... it remembers little things, long after you have forgotten everything. Take part of CLIQ, the online photography event of QUANTA’15 and get rewarded with prizes.</p>

					<p align="left"><strong> </strong> <br> ‘There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.’

					<br>The contest will take place from February 25.
					

					<br>The theme of the contest is <strong>Free style photography</strong>.<br>

					To Participate, Participants should send your photos to <strong>cliq@quanta.net.in</strong> mail id, with the following details.
					<ol>
						<li align="left">Name of the participant</li>
						<li align="left">Email id</li>
						<li align="left">College</li>
						<li align="left">Course</li>
						<li align="left">Contact number</li>
						<li align="left">Caption about the photo</li>
					</ol>
					<br><br>
					We will post your photo in our official symposium page ‘https://www.facebook.com/cegquanta’ and we will acknowledge you through mail.The photo with the maximum number of likes will be short listed for final round. So ask your facebook friends to help you to win. But judges decision will be final.</p>


					<ul class="list-inline">
						<strong>CONTACT:</strong> <br>
						<li>Karthick – 9677475231</li>
					</ul>
					<p align="center" style="font-size:15px;"> <strong>Coming Soon !!!</strong></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<!-- jQuery --> 
<script src="/js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="/js/bootstrap.min.js"></script> 

<!-- Plugin JavaScript --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
<script src="/js/classie.js"></script> 
<script src="/js/cbpAnimatedHeader.js"></script> 

<!-- Contact Form JavaScript --> 
<script src="/js/jqBootstrapValidation.js"></script> 

<!-- Custom Theme JavaScript --> 
<script src="/js/five.js"></script>


</body>
</html>
