<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xeon | OnePage Responsive Theme</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      

                    </button>
                    <a class="navbar-brand" href="index.html"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#services">Events</a></li>
                        <li><a href="#portfolio">Gallery</a></li>
                        <li><a href="#pricing">Workshop</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#sponsor">Sponsors</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="center"><% if notice %>
 <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong> Your Registration is success.</strong>
</div> 
<% end %></div>
        <div class="carousel-inner">

            <div class="item active"> 
                <div class="container">
                    <div class="carousel-content">
                        <h1>KRYSTA ‘14</h1>
                        <p class="lead">Illuminating Obscurities<br>25th - 27th September 2014</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>KRYSTA ‘14</h1>
                        <p class="lead">K - KNOW &
                                        R - RECREATE <br>
                                        Y - YOUR
                                        S - SKILL,
                                        T - TRAIT &
                                        A - ACUMEN
                        </p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

    <section id="services">
       <div class="container">
            <div class="box first">
                <div class="row">
                <div class="center gap">
                    <h2>Events</h2>
                </div>
                    --Will Be Updated Soon--
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
       <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Gallery</h2>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery1">Gallery1</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery2">Gallery2</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery3">Gallery3</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".workshop">Workshop</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item1.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item1.png"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item2.png"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                                   
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item3.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item3.png"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                            <h5>--</h5>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item4.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item4.png"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item5.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item5.png"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item6.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item6.png"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item7.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item7.png"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item8.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item8.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item9.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item9.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item10.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item10.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item11.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item11.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item12.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item12.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item13.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="--" href="images/gallery/full/Item13.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item14.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger"  href="images/gallery/full/Item14.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                                  
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item15.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger"  href="images/gallery/full/Item15.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                                  
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item workshop">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item16.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger"  href="images/gallery/full/Item16.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                                   
                        </div>         
                    </li><!--/.portfolio-item-->
                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Workshop</h2>
                    <p class="lead">“Life is made of ever so many partings welded together” -  Charles Dickens<br><br>Learn about the science and art of industrial welding techniques as you build and expand your skills during the course of this one day workshop. Materialize the welder within you with the guest lectures to be given by reputed professionals in the field of welding. Become versed in welding techniques such as friction stir welding and gas tungsten arc welding with live demonstrations to be performed by experienced welders. Get a clear insight into the microstructural features of the weldment.</p>
                 

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Click here to Register
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <%= render '/users/new'%> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





                 </div><!--/.center-->   
                <div class="big-gap"></div>
                
            </div> 
        </div>
    </section><!--/#pricing-->

    <section id="about-us">
       <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Meet the Team</h2>
                    <p class="lead">Organized By<br>
                    THE SOCIETY OF MATERIALS SCIENCE & ENGINEERS AND MADRAS METALLURGICAL SOCIETY, UNDER THE GUIDANCE OF DEPARTMENT OF MECHANICAL ENGINEERING. <br><br>CEG BRINGS YOU THE MOST SAVVY SYMPOSIUM EVER....KRYSTA'14. AN ADORABLE ALLOY OF BRAIN-RACKING AND SENSE-PLEASING EVENTS AND AN INTER COLLEGIATE WORKSHOP ON 'INDUSTRIAL WELDING PROCESS'.<br><br>COME...KNOW YOUR SELF...RECREATE YOUR SELF</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/premkumar- general secretary.JPG" alt="" ></p>
                                       <h3>Prem Kumar R<small class="designation">General Secretary, SMSE. </small></h3>
                                     <br> <br>Contact: 9487682729
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/bhoopathy - mms president.jpg" alt="" ></p>
                                        <h3>Bhoopathy B G<small class="designation">Student President, MMS </small></h3>
                                        <br><br> Contact:9445677569
                                    </div>
                                </div>        
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" width=700 height=200 src="images/contact/rajeshwara rao- sponser contact.JPG" alt="" ></p>
                                        <h5>Rajeshwara Rao R J<small class="designation">Industrial Affairs Secretary, SMSE </small></h5>
                                        <br><br>Contact: 9841404075 <br><br> krysta@quanta.net.in
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/lalith kumar - workshop sponser.jpg" alt="" ></p>
                                        <h3>Lalith Kumar B<small class="designation">Workshop Coordinator </small></h3>
                                        <br><br> Contact:9629161134 <br><br> workshop@quanta.net.in
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/gokul ram - events contact.jpg" alt="" ></p>
                                        <h3>Gokul Ram E<small class="designation">Events Coordinator</small></h3>
                                        <br><br>Contact:9790748790<br><br>events@quanta.net.in
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->


    <section id="sponsor">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Sponsors</h2>
                </div><!--/.center-->
                <ul class="sponsor-items col-4">
                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="AMBATTUR HEAT TREATERS PRIVATE LTD." href="images/sponsor/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                            <a href="http://www.ahtpl.com/"><h5>AMBATTUR HEAT TREATERS PRIVATE LTD.</h5></a>         
                        </div>
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="CHENNAI METCO" href="images/sponsor/item3.jpg"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                           <a href="http://www.chennaimetco.com/"><h5>CHENNAI METCO</h5></a>          
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="DTDC" href="images/sponsor/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                            <a href="http://dtdc.com/"><h5>DTDC</h5></a>         
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item10.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="ASWIN COLD FORGE" href="images/sponsor/item10.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <a href="http://www.aswincoldforge.in/"><h5>ASWIN COLD FORGE</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item9.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="INDIAN BANK" href="images/sponsor/item9.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a href="https://www.indianbank.net.in/"><h5>INDIAN BANK</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="COOKIE MAN" href="images/sponsor/item4.jpg"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                            <a href="http://www.cookiemanindia.com/"><h5>COOKIE MAN</h5></a>        
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item14.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="YENTOP " href="images/sponsor/item14.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a href="http://www.yentop.com/"><h5>YENTOP </h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item11.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="E –XSTREAM" href="images/sponsor/item11.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <a href="http://www.e-xstream.com/"><h5>E –XSTREAM</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="CADEM" href="images/sponsor/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <a href="http://cadem.com/"><h5>CADEM</h5></a>  
                        </div>       
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item8.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="GORGEOUS SPA" href="images/sponsor/item8.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a href="www.gorgeousspa.in"> <h5>GORGEOUS SPA</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SHRIRAM ENTERPRISES PVT. LTD." href="images/sponsor/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <a href="http://www.shrientpl.com/index.html"><h5>SHRIRAM ENTERPRISES PVT. LTD.</h5></a>
                        </div>
                    </li><!--/.sponsor-item-->

                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="GEE GEE KAY" href="images/sponsor/item7.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <a href="http://www.geegeekay.com/index.aspx"><h5>GEE GEE KAY</h5></a>
                        </div>       
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item12.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SP ROBOTICS WORKS" href="images/sponsor/item12.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a href="http://www.sproboticworks.com/"> <h5>SP ROBOTICS WORKS</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item13.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SRI VIDYA COLLEGE OF ENGINEERING & TECHNOLOGY" href="images/sponsor/item13.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a href="http://www.srividyaengg.ac.in/"> <h5>SRI VIDYA COLLEGE OF ENGINEERING & TECHNOLOGY</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    
                </ul>   
            </div><!--/.box-->
        </div>
    </section><!--/#sponsor-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Form</h1>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        
                        <div class="row">
                            <div class="col-md-6">
                            <h3>Our Address</h3>
                                <address>
                                    <strong>Department of mechanical engineering,<br> CEG , Anna University,<br> Chennai – 25.</strong><br>
                                    
                                    <abbr title="Phone"></abbr> Ph : 9876543210
                                </address>
                            </div>
                            <div class="col-md-6">
                             <h3>Connect with us</h3>
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                                </ul>
                            </div>
                        </div>
                        <h1>Maps</h1>
                        <div class="row">
                            <div class="col-md-10">
                               
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=13.011028500000000000,80.235018399999940000&amp;spn=80.235018399999940000,13.011028500000000000&amp;t=m&amp;z=4&amp;output=embed"></iframe>
               

                            </div>
                           
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
