<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xeon | OnePage Responsive Theme</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#event">Events</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#workshop">Workshop</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#sponsor">Sponsors</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
	    <div class="center">
		    <% if notice %>
			    <div class="alert alert-success">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
			    <strong> <%= notice%></strong>
			    </div> 
		    <% end %>
		    <%if alert %>
			     <div class="alert alert-danger">    
		             <a href="#" class="close" data-dismiss="alert">&times;</a>    
		             <strong> <%= alert%></strong>
		             </div>
		    <%end%>    
	    </div>
        <div class="carousel-inner">

            <div class="item active"> 
                <div class="container">
                    <div class="carousel-content">
                        <h1>KRYSTA ‘14</h1>
                        <p class="lead">
                            <img src="/images/logo/logo5.png" alt="Society of Materials Science Engineering" height="400" width="400">
                        </p>
                        <h2><font color="white">25<sup>th</sup> - 27<sup>th</sup> September 2014</font></h2>
                    </div>
                </div>
            </div><!--/.item-->


            <div class="item"> 
                <div class="container">
                    <div class="carousel-content">
                        <h1>KRYSTA ‘14</h1>
                        <h1><font color="white">Illuminating Obscurities</font></h1><br>
                        <h2>
                        <font color="white">
                        <table align="center">
                        <tr><td>K -</td><td align="left">KNOW </td></tr>
                        <tr><td>R -</td><td align="left">RECREATE</td></tr>
                        <tr><td>Y -</td><td align="left">YOUR</td></tr>
                        <tr><td>S -</td><td align="left">SKILL</td></tr>
                        <tr><td>T -</td><td align="left">TRAIT </td></tr>
                        <tr><td>A -</td><td align="left">ACUMEN</td></tr>
                        </table>
                        </font>
                        </h2>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

    <section id="event">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="center gap">
                    <h2>Events</h2>
                </div>
                   <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <h4>MEGATRONITE</h4>
                            <p><i>Be ready to be mind boggled. An all in one event that includes Anagrams, Rebus, 4 pics one word, word search with riddles & grandmaster. </i></p><br><br>
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#rules5" role="tab" data-toggle="tab">Rules</a></li>
                            <li><a href="#contact5" role="tab" data-toggle="tab">Contact</a></li>
                             </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div class="tab-pane " id="rules5">
                            <b>Rules</b>
                                <ul>
                                <li>The event will consist of 2 rounds.</li>
                                <li>2-3 participants per team.</li>
                                <li>Eliminations will be present in each round.</li>
                                <li><b>Round 1: Prelims</b><br>
                                Written event that will consist of Anagrams, 4 pics one word, rebus & word search with riddles.</li>
                                <li><b>Round 2: Finals</b><br>
                                One team member will be told a word while the team mates are allowed to guess the word. The one who knows the word is allowed to only give yes or no answers while the other members can ask any 21 questions.</li>
                                <li>A theme will be given for the same on the day of the event.</li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="contact5">
                                <b>CONTACT:</b>
                            <ul>
                            <li>Agraja: 9884544356</li>
                            <li>Madhubala: 875456715</li>
                            <li>Swetha: 8903677432</li>
                            </ul>
                            </div>
                             </div>
                            <hr>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <h4>GENERAL QUIZ</h4>
                            <p><i>The quiz will be a test on your knowledge of everything around you. From science to sports to music to literature to entertainment and events that are trending or that have happened around the world. </i></p>
                            </div><br>
                            <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#rules4" role="tab" data-toggle="tab">Rules</a></li>
                            <li><a href="#contact4" role="tab" data-toggle="tab">Contact</a></li>
                             </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div class="tab-pane " id="rules4">
                            <b>Rules</b>
                                <ul>
                                <li>The quiz will have 2 rounds.</li>
                                <li>2-3 participants per team.</li>
                                <li>Elimination will be present after round 1.</li>

                            </ul>
                            </div>
                            <div class="tab-pane" id="contact4">
                                <b>CONTACT:</b>
                            <ul>
                            <li>Raja: 9629314522</li>
                            </ul>
                            </div>
                             </div>
                            <hr>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <h4>PAPER PRESENTATION</h4>
                            <p><i>Paper Presentation is an event that taps out the scientist in you. This provides you an opportunity to showcase your ideas and prove your capabilities unveiling your creativity. After all, an idea not shared is just an empty void.</i></p>
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#topics3" role="tab" data-toggle="tab">Topics</a></li>                            
                            <li><a href="#rules3" role="tab" data-toggle="tab">Rules</a></li>
                            <li><a href="#contact3" role="tab" data-toggle="tab">Contact</a></li>

                             </ul>
                            <!-- Tab panes -->
                            
                            <div class="tab-content">
                            <div class="tab-pane " id="rules3">
                            <b>Rules</b>
                                <ul>
                                <li>Participants can participate in teams of two.</li>
                                <li>Abstract must be submitted on or before 22nd of September.</li>
                                <li>Selected Papers will be intimated and full papers should be submitted on 24th of September.</li>
                                <li>The presentation should be in .ppt or .pptx format.</li>
                                <li>Teams will have to deliver their presentation for 10 minutes followed by 5 minutes Q/A session.</li>
                                <li>he organizers reserve the right to change/update the rules of the contest at any point of time and will do their best to notify the participants. However, it is ultimately the responsibility of the teams to keep themselves updated.</li>
                                <li>Judges' decision is final.</li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="contact3">
                                <b>CONTACT:</b>
                            <ul>
                            <li>Abhilaash : 7845425085</li>
                            <li>Srivathsan : 9884985868 </li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="topics3">
                                <b>TOPICS</b>
                            <ul>
                            <li>Metal Forming</li>
                            <li>Nanotechnology</li>
                            <li>Alternative energy(Solar , Fuel cells)</li>
                            <li>Smart Materials</li>
                            <li>Modern Manufacturing Methods</li>
                            <li>Polymers</li>
                            <li>Newer Tool designs</li>
                            <li>Energy Materials</li>
                            </ul>
                            </div>
                             </div>
                            <hr>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <h4>INQUISITION</h4>
                            <p><i>“Wit beyond measure is a man's greatest treasure.”  </i></p>
                            <p>Inquisition is wit-based event similar to “Treasure hunt” where a team will be given a clue which will lead them to a series of clues. Use your knowledge on materials and sciences to crack the given clues and win this event. You need these five elements to win this event. </p>
                            <p>
                            #Knowledge
                            #Critical thinking 
                            #Sporty mind 
                            #Team work</p>
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#rules2" role="tab" data-toggle="tab">Rules</a></li>
                            <li><a href="#contact2" role="tab" data-toggle="tab">Contact</a></li>
                             </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div class="tab-pane " id="rules2">
                            <b>Rules</b>
                                <ul>
                                <li>A team can consist of a minimum of 3 members to a maximum of 5 members.</li>
                                <li>The decision of the organizers will be final and binding.</li>
                                <li>The team must adhere to the spirit of a healthy competition. Any malpractice if found will lead to elimination.</li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="contact2">
                                <b>CONTACT:</b>
                            <ul>
                            <li>Monish Chakravarty R : 9487755515</li>
                            <li>Darvin M S : 9751362867</li>
                            </ul>
                            </div>
                             </div>
                            <hr>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <h4>ENGINEERING CONNECTIONS</h4>
                            <p><i>Engineering Connections is a fun filled technical event. It is of three rounds with eliminations in each round. The game is a piece of cake if you are good in basic physics. </i></p>
                            </div><br><br><br><br><br>

                            <ul class="nav nav-tabs" role="tablist">
                            <li><a href="#rules1" role="tab" data-toggle="tab">Rules</a></li>
                            <li><a href="#contact1" role="tab" data-toggle="tab">Contact</a></li>
                             </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div class="tab-pane " id="rules1">
                            <b>Rules</b>
                                <ul>
                                <li>The event has three rounds.</li>
                                <li>2-3 participants per team.</li>
                                 <li><b>Round 1: Connections</b><br>
                                Connecting the images displayed on the screen to find the technical term.</li>
                                <li><b>Round 2: Basic physics</b><br>
                               Questions will be asked from various physics principles.
                               </li>
                               <li><b>Round 3: Problem statement</b><br>
                               Problem statement will be given and it must be solved(related to science).
                                </li>
                                <li>Eliminations will be present in each round.</li>
                               
                                <li>The decision of the organizers is final and binding.</li>
                            </ul>
                            </div>
                            <div class="tab-pane" id="contact1">
                                <b>CONTACT:</b>
                            <ul>
                            <li>Arivoli.M   :   9710178128</li>
                            <li>Abhilaash.A :7845425085</li>
                            <li>Mohammed Burhanudeen.R  :9176439878</li>
                            <li>Arun Gopal.K.P  :   9789924647 </li>
                            </ul>
                            </div>
                             </div>
                            <hr>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="gallery">
       <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Gallery</h2>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery1">Events & Workshop</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery2">Inauguration</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".gallery3">Speech</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item1.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item1.png"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item2.png"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                                   
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item3.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item3.png"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item4.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item4.png"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item5.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item5.png"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item6.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item6.png"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item7.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item7.png"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item8.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item8.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item9.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item9.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item10.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item10.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item11.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item11.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery1">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item12.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item12.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item13.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="images/gallery/full/Item13.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery3">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item14.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger"  href="images/gallery/full/Item14.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                                  
                        </div>         
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item gallery2">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/gallery/full/Item15.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger"  href="images/gallery/full/Item15.png"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                                  
                        </div>         
                    </li><!--/.portfolio-item-->
                   </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="workshop">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Workshop</h2> <br><br>
                    
                    <img width=1000 height=700 src="images/gallery/full/Item16.png" alt=""> <br> <br><br>
         
                
        
                    <p class="lead">“Life is made of ever so many partings welded together” -  Charles Dickens<br><br>Learn about the science and art of industrial welding techniques as you build and expand your skills during the course of this one day workshop. Materialize the welder within you with the guest lectures to be given by reputed professionals in the field of welding. Become versed in welding techniques such as friction stir welding and gas tungsten arc welding with live demonstrations to be performed by experienced welders. Get a clear insight into the microstructural features of the weldment.</p> <br><br>
                 
		    <p><strong>Registration Fee : </strong> Rs 600 (For Other Colleges)<br>
		                         Rs 300  (For Ceg, MIT campus) <br></p>
		    <p align="center">This can be paid On spot of workshop date <br>(or)<br> You can send your dd in favour of <b>“Society of material science engineers,Anna university,Chennai-25”</b>

to <b>“Central Workshop,Department of mechanical Engineering,Anna university,Chennai-25”</b> </p>
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
  Click here to Register
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration Form</h4>
      </div>
      <div class="modal-body">
      <%= render '/users/new'%> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





                 </div><!--/.center-->   
                <div class="big-gap"></div>
                
            </div> 
        </div>
    </section><!--/#pricing-->

    <section id="about-us">
       <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Meet the Team</h2>
                    <p class="lead"><br>
                    THE SOCIETY OF MATERIALS SCIENCE  ENGINEERS AND MADRAS METALLURGICAL SOCIETY, UNDER THE GUIDANCE OF DEPARTMENT OF MECHANICAL ENGINEERING, <br><br>CEG BRINGS YOU THE MOST SAVVY SYMPOSIUM EVER....KRYSTA'14. AN ADORABLE ALLOY OF BRAIN-RACKING AND SENSE-PLEASING EVENTS AND AN INTER COLLEGIATE WORKSHOP ON 'INDUSTRIAL WELDING PROCESS'.<br><br>COME...KNOW YOURSELF...RECREATE YOUR SELF</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/premkumar- general secretary.png" alt="" ></p>
                                       <h3>Prem Kumar R<small class="designation">General Secretary, SMSE </small></h3>
                                        Contact: 9487682729
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/bhoopathy - mms president.png" alt="" ></p>
                                        <h3>Bhoopathy B G<small class="designation">Student President, MMS </small></h3>
                                        Contact: 9445677569
                                    </div>
                                </div>        
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/rajeshwara rao- sponser contact.png" alt="" ></p>
                                        <h3>Rajeshwara Rao R J</h3><h5><small class="designation">Industrial Affairs Secretary, SMSE </small></h5>
                                        Contact: 9841404075<br> krysta@quanta.net.in
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/lalith kumar - workshop sponser.png" alt="" ></p>
                                        <h3>Lalith Kumar B<small class="designation">Workshop Coordinator </small></h3>
                                        Contact: 9629161134<br> workshop@quanta.net.in
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/contact/gokul ram - events contact.png" alt="" ></p>
                                        <h3>Gokul Ram E<small class="designation">Events Coordinator</small></h3>
                                        Contact: 9790748790<br>events@quanta.net.in
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->


    <section id="sponsor">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Previous Year Sponsors</h2>
                </div><!--/.center-->
                <ul class="sponsor-items col-4">
                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="AMBATTUR HEAT TREATERS PRIVATE LTD." href="images/sponsor/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                            <a target="_blank" href="http://www.ahtpl.com/"><h5>AMBATTUR HEAT TREATERS PRIVATE LTD.</h5></a>         
                        </div>
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="CHENNAI METCO" href="images/sponsor/item3.jpg"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                           <a target="_blank" href="http://www.chennaimetco.com/"><h5>CHENNAI METCO</h5></a>          
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="DTDC" href="images/sponsor/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                            <a target="_blank" href="http://dtdc.com/"><h5>DTDC</h5></a>         
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item10.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="ASWIN COLD FORGE" href="images/sponsor/item10.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <a target="_blank" href="http://www.aswincoldforge.in/"><h5>ASWIN COLD FORGE</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item9.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="INDIAN BANK" href="images/sponsor/item9.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a target="_blank" href="https://www.indianbank.net.in/"><h5>INDIAN BANK</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="COOKIE MAN" href="images/sponsor/item4.jpg"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                            <a target="_blank" href="http://www.cookiemanindia.com/"><h5>COOKIE MAN</h5></a>        
                        </div>           
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item14.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="YENTOP " href="images/sponsor/item14.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a target="_blank" href="http://www.yentop.com/"><h5>YENTOP </h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item11.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="E –XSTREAM" href="images/sponsor/item11.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <a target="_blank" href="http://www.e-xstream.com/"><h5>E –XSTREAM</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="CADEM" href="images/sponsor/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <a target="_blank" href="http://cadem.com/"><h5>CADEM</h5></a>  
                        </div>       
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item8.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="GORGEOUS SPA" href="images/sponsor/item8.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a target="_blank" href="www.gorgeousspa.in"> <h5>GORGEOUS SPA</h5></a>
                        </div>         
                    </li><!--/.sponsor-item-->
                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SHRIRAM ENTERPRISES PVT. LTD." href="images/sponsor/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <a target="_blank" href="http://www.shrientpl.com/index.html"><h5>SHRIRAM ENTERPRISES PVT. LTD.</h5></a>
                        </div>
                    </li><!--/.sponsor-item-->

                    
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item7.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="GEE GEE KAY" href="images/sponsor/item7.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <a target="_blank" href="http://www.geegeekay.com/index.aspx"><h5>GEE GEE KAY</h5></a>
                        </div>       
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item12.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SP ROBOTICS WORKS" href="images/sponsor/item12.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a target="_blank" href="http://www.sproboticworks.com/"> <h5>SP ROBOTICS WORKS</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    <li class="sponsor-item">
                        <div class="item-inner">
                            <div class="sponsor-image">
                                <img src="images/sponsor/item13.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SRI VIDYA COLLEGE OF ENGINEERING & TECHNOLOGY" href="images/sponsor/item13.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                           <a target="_blank" href="http://www.srividyaengg.ac.in/"> <h5>SRI VIDYA COLLEGE OF ENGINEERING & TECHNOLOGY</h5></a>        
                        </div>         
                    </li><!--/.sponsor-item-->
                    
                </ul>   
            </div><!--/.box-->
        </div>
    </section><!--/#sponsor-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="col-md-4">
                         <%= render '/contacts/new'%>
                         </div>
                        <div class="col-md-4">
                            <h1>Connect with Us</h1>
                                <ul class="social">
                                    <li><a target="_blank" href="https://www.facebook.com/pages/Krysta14/1460021770944558?ref=br_tf"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                   <!--  <li><a href=""><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    <li><a href=""><i class="icon-pinterest icon-social"></i> Pinterest</a></li> --!>
                                </ul>
                        </div>
                        <div class="col-md-4">
                        <div class="row">      
                            <h1>Our Address</h1>
                                <address>
                                    <strong>Central Workshop, Department of Mechanical Engineering,<br> CEG , Anna University,<br> Chennai – 25.</strong><br>
                                    
                                    
                                </address>
                        </div>
                        </div>
                    </div><!--/.col-sm-6-->
                    
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 <a target="_blank" href="http://quanta.net.in" title="quanta">Krysta</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

     <script src="javascripts/jquery.js"></script>
     <script src="javascripts/bootstrap.min.js"></script>
     <script src="javascripts/jquery.isotope.min.js"></script>
     <script src="javascripts/jquery.prettyPhoto.js"></script>
     <script src="javascripts/main.js"></script>

</body>
</html>
