<!DOCTYPE html>
<html>
<head>
  <title>Krysta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="shortcut icon" href="/images/fav.ico">
</head>
<body>

<%= yield %>

</body>
</html>
